body{
    background-color: rgb(250, 135, 135);
}

.formContainer{
    max-width: 30vw;
    position: relative;
    top: 18vh;
    left: 34vw;
    backdrop-filter: blur(10);
    padding: 2vw;
    color: rgb(58, 58, 58);
    min-height: 35vh;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.21);
    background-color: rgb(249, 133, 153);
}

h2{
    text-align: center;
    transition: all 0.2s linear;
    font-size: 2.5vw;
}

label{
    font-size: 1.3vw;
    text-align: left;  
    color: rgb(77, 76, 76);
}

input{
    width: 95%;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 1vh;
    margin: 2vh auto;
    text-align: center;
    color: gray;
}

input:focus{
    outline: none;
    border: 1px solid red;
}

.btnDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: rgb(237, 74, 101);
    border: none;
    width: 49%;
    margin-top: 2vh;
    border-radius: 5px;
    padding: 2vh 0vh;
    font-size: 1.2vw;
    color: white;
    transition: all 0.2s linear;
    border: 1px solid transparent;
}

button:hover{
    background-color: white;
    border-radius: 0px;
    color: gray;
}