.formContainer{
  border: 1px solid transparent;
  background-color: pink;
  width: 35vw;
  margin: auto;
  margin-top: 4vw;
  box-shadow: 2px 2px 5px rgba(57, 2, 2, 0.349);
  padding: 2vw;
  border-radius: 5px;

}

label{
  margin: 0.3vw 0vw;
  color: rgba(3, 3, 3, 0.762);
  display: inline-block;
}

input{
  width: 100%;
  padding: 0.5vw 0vw;
  border-radius: 5px;
  border-color: transparent;
}

.submitBtn{
  width: 100%;
  border-radius: 5px;
  border-color: transparent;
  padding: 0.8vw 0vw; 
  background-color: rgb(198, 27, 55);
  color: white;
  font-size: large;
  letter-spacing: 2px;
}

.submitBtn:hover{
  box-shadow: 2px 2px 5px rgba(57, 2, 2, 0.349);
}

.heading{
  text-align: center;
  font-size: 2vw;
  color: rgba(0, 0, 0, 0.756);
  transition: all 0.2s linear;
}

.heading:hover{
  letter-spacing: 2px;
}

.printContainer{
  text-align :center;
  margin-top: 2vw;
}

.print{
  display: inline;
  background-color: pink;
  color: rgba(0, 0, 0, 0.745);
  padding: 1vw;
  border-radius: 5px;
}